@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root{
  --primary-color: #232323;
  --secondary-color: #f2f2f2;
}

.header{
  width: 100%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 1px solid var(--secondary-color);
  font-family: 'Montserrat', sans-serif;
}

.add-new{
  padding: 10px;
  cursor: pointer;
}